@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-width: thin;
  scrollbar-color: #475569;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 1);
}
::-webkit-scrollbar-thumb {
  background-color: #475569;
  border: 3px solid rgba(15, 23, 42, 1);
  border-radius: 10px;
}

.btn {
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.header {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  height: 6rem;
  background-color: rgba(15, 23, 45, 0.85);
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  backdrop-filter: blur(10px);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.scroll-up {
  height: 4.5rem;
  transform: translateY(0px);
  box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
}

.scroll-down {
  height: 4.5rem;
  transform: translateY(calc(4.5rem * -1));
  box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
}

.text-gradient-link {
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.text-gradient-link:hover {
  box-shadow: 0px 1px 0 0 rgb(56 189 248);
  transform: translate(0px, -2px);
}

.btn:hover {
  outline: none;
  box-shadow: 4px 4px 0 0 rgb(56 189 248);
  transform: translate(-5px, -5px);
}

.active {
  color: #38bdf8;
}

.menu {
  outline: 0;
  box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.9);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-slate-200 bg-slate-900;
  }
  p {
    @apply text-[18px] text-slate-400 font-medium;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-md font-primary text-sky-400 font-semibold border border-sky-400;
  }
  .btn-sm {
    @apply h-[38px] px-4 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#38BDF8] to-[#4f46e5] font-bold font-primary cursor-default;
  }
  .text-gradient-link {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#38BDF8] to-[#4f46e5] font-bold font-primary hover:from-[#4f46e5] hover:to-[#38BDF8];
  }
  .text-gradient-header {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#38BDF8] to-[#4f46e5];
  }
  .logo {
    @apply font-normal font-tertiary text-xl;
  }
  .section {
    @apply flex items-center lg:px-24 md:px-12 sm:px-6 py-12 lg:py-16;
  }
}
